/*Header*/
.container-logo {
    background-image: url('img/img/pattern.png');
    background-color: rgb(62, 117, 181);
    height: 150px;
    position: relative;
}

.logo {
    width: 10%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

h1 {
    font-size:50px;
    margin-bottom: 0;
}

.title .info-title {
    color: rgba(0, 0, 0, 0.5)
}

.booleaner {
    color: #0cabef;
}

.tim-photo-first, .tim-photo-second {
    margin-top: 20px;
    width: 48%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.tim-photo-first {
    background-image: url('img/img/tim-1.jpg');
}

.tim-photo-second {
    background-image: url('img/img/tim-2.jpg');
}
/*Header*/

/*main*/

main p  {
    font-size: 25px;
}

.Highlighted {
    background-color: yellow;
}

ul {
    font-size: 20px;
    list-style-position: inside;
    padding-left: 0;
}

table {
    border-spacing: 0;
    width: 100%;
}

thead  {
    background-color: rgb(32, 169, 229);
    color: white;
}

.first-column, .second-column {
    width: 25%;
}

.third-column {
    width: 50%;
}

tbody tr {
    background-color: rgb(177, 229, 242);
    height: 50px;
}

.white-row {
    background-color: white;
}

/*footer*/

footer {
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.pc-photo {
    
}



